<section class="footer-social">
    <a href="https://www.twitch.tv/utdcsg" target="_blank" rel="noopener" title="Twitch"><i class="fa fa-2x fa-fw fa-twitch"></i> <span class="hidden">Twitch</span></a>
    <a href="https://www.youtube.com/channel/UCTzvm6c3E6qH7jkO6HWn2Cg" target="_blank" rel="noopener" title="YouTube"><i class="fa fa-2x fa-fw fa-youtube"></i> <span class="hidden">YouTube</span></a>
    <a href="mailto:utdcsg@gmail.com" target="_blank" rel="noopener" title="Email"><i class="fa fa-2x fa-fw fa-envelope"></i> <span class="hidden">Email</span></a>
    {{#if @blog.facebook}}
        <a href="{{facebook_url}}" target="_blank" rel="noopener" title="Facebook"><i class="fa fa-2x fa-fw fa-facebook"></i> <span class="hidden">Facebook</span></a>
    {{/if}}
    {{#if @blog.twitter}}
        <a href="{{twitter_url}}" target="_blank" rel="noopener" title="Twitter"><i class="fa fa-2x fa-fw fa-twitter"></i> <span class="hidden">Twitter</span></a>
    {{/if}}
    <a href="{{@blog.url}}/rss/" target="_blank" rel="noopener" title="RSS"><i class="fa fa-2x fa-fw fa-rss"></i> <span class="hidden">RSS</span></a>
</section>
