<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>{{meta_title}}</title>

    <meta name="apple-mobile-web-app-title" content="{{meta_title}}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "img/apple-touch-icon.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "img/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "img/favicon-16x16.png"}}">
    <link rel="shortcut icon" href="{{asset "img/favicon.ico"}}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?subset=latin,cyrillic-ext,latin-ext,cyrillic&family=Open+Sans+Condensed:300|Merriweather:400,300,300italic,400italic,700,700italic|Roboto+Slab:400,300">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    {{> theme-colors}}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css">
    <link rel="stylesheet" href="{{asset "css/csg.css"}}">

    {{> meta}}
    {{!> google-analytics}}

    {{#if pagination.next}}<link href="{{page_url pagination.next}}" rel="prefetch">{{/if}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header id="site-head">
	{{#if @blog.cover_image}}
	<a href="{{@blog.url}}"><img src="{{@blog.cover_image}}"/></a>
	{{else}}
	<h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
	<h1 class="blog-subtitle">{{@blog.description}}</h1>
	{{/if}}
    </header>

    {{navigation}}

    {{{body}}}

    <footer class="site-footer">
	<div class="inner">
	    {{> footer-social}}
	    {{!> footer-author}}
	    <section class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a>. All rights reserved</section>
	</div>
    </footer>

    {{ghost_foot}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/smooth-scroll/9.4.3/js/smooth-scroll.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
    <script src="{{asset "js/csg.js"}}"></script>
</body>
</html>
