{{!< default}}
<main class="content" role="main">
    {{#foreach posts}}
    <article class="preview">
        <header>
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <div class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></div>
        </header>
        <section class="post-content">
            {{ content }}
        </section>
    </article>
    {{/foreach}}
    {{pagination}}
</main>
